@use "@scss/global/mediaqueries" as mq;
@use "@scss/global/functions" as fn;

.content-medium {
  @include mq.desktop {
    width:50%;
    min-width:550px;
  }
  @include mq.tablet {
    width: 80%;
    max-width:550px;
  }
  @include mq.mobile {
    max-width: 100%;
  }
}

.content-wide {
  @include fn.contentWrapper(1280px, false)
}